.color_scroll {
    background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    width:450px;
    height: 7%;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}
.color_scroll_control_button {
    height: 120%;
    width: 2%;
    background-color: black;
    position: absolute;
    border-radius: 2px;
    
}

.color_scroll_control_button:hover {
    border: 1px solid rgb(14, 13, 13);
    background-color: rgb(231, 77, 77);
    cursor: move;
}