* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin flex($flex-direcction, $justify-content, $align-items) {
    flex-direction: $flex-direcction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.container {
    background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
    height: 100vh;
    display: flex;
    @include flex(column, center, center)
}
.color_title {
    width: 70%;
    height: 20%;
    background-color: antiquewhite;
    margin-bottom: 5%;
    display: flex;
    @include flex(column, center, center)
}

.change_color {
    width: 10%;
    height: 5%;
    border: none;
}
.control_block {
    width: 50%;
    height: 30%;
    display: flex;
    @include flex(column, center, center)
}
.color_scroll {
    background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    width:480px;
    height: 7%;
    margin-bottom: 20px;
    position: relative;
}
.color_scroll_control_button {
    height: 120%;
    width: 2%;
    background-color: black;
    position: absolute;
    
}
.color_panel {
    height: 40%;
    width: 480px;
    position: relative;
    background: rgb(255, 0, 0) ;
}

.color_panel_white,
.color_panel_black {
    height: 100%;
    width: 100%;
    position: absolute;
}
.color_panel_white {
    background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
}

.color_panel_black {
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.color_panel_button {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(150, 71, 71);
    border: 2px solid black;
    border-radius: 50%;
    z-index: 1;

}



