* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.container {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#645f5f));
  background: linear-gradient(to bottom, transparent 0%, #645f5f 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color_title {
  width: 70%;
  height: 35%;
  background-color: antiquewhite;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-weight: 600;
  border: 7px inset #645f5f;
  padding: 0 35px;
}

.change_color {
  width: 10%;
  height: 5%;
  border: none;
}

.control_container {
  width: 70%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 5px inset #312525;
  padding: 5px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#764d4d));
  background: linear-gradient(to bottom, transparent 0%, #764d4d 100%);
}

.control_block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px dashed #4e4545;
  padding-right: 4px;
}

.procent_scroll_control_button {
  height: 120%;
  width: 2.5%;
  background-color: black;
  position: absolute;
  border: 2px solid #e74d4d;
  border-radius: 15%;
  color: aliceblue;
  text-align: center;
  cursor: move;
}

.procent_scroll_control_button_active {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid #fffefe;
  border-bottom: 2px solid #fffefe;
  background-color: inherit;
  z-index: 10;
  cursor: move;
  color: black;
}

.procent_scroll {
  background: #a19191;
  width: 550px;
  height: 32px;
  border: 2px solid black;
}

.procent_scroll_control {
  height: 100%;
  width: 100%;
  position: relative;
}

.procent_scroll_block_text {
  position: relative;
  height: 100%;
  width: 100%;
}

.procent_scroll_block_text .procent_scroll_text {
  width: 5%;
  position: absolute;
  top: 8px;
  left: -8.25px;
  text-align: center;
}

#procent_scroll_control_button_2 {
  left: 100px;
}

#procent_scroll_text_2 {
  left: 92px;
}

.transparency_scroll_control_button {
  height: 120%;
  width: 2%;
  background-color: black;
  position: absolute;
  border-radius: 2px;
}

.transparency_scroll_control_button:hover {
  border: 1px solid #0e0d0d;
  background-color: #e74d4d;
  cursor: move;
}

.transparency_scroll {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(-45deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
  background-color: white;
  width: 450px;
  height: 32px;
  margin-bottom: 20px;
  position: relative;
}

.transparency_scroll_rgb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.degree_panel {
  height: 60px;
  width: 150px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 20px;
}

.degree_panel_text {
  width: 50%;
  height: 90%;
}

.degree_circle {
  width: 30%;
  height: 83.3%;
  border: 3px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degree_control_circle {
  height: 100%;
  width: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.degree_control_circle_button {
  height: 8px;
  width: 100%;
  background-color: #000;
  border-radius: 50%;
  margin-top: 5px;
}

.color_panel {
  height: 40%;
  width: 450px;
  position: relative;
  background: red;
  margin-bottom: 20px;
  border-radius: 5px;
}

.color_panel_white,
.color_panel_black {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
}

.color_panel_white {
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.color_panel_black {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.color_panel_button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid #fffefe;
  border-bottom: 2px solid #fffefe;
  border-radius: 50%;
  z-index: 1;
  cursor: move;
}

.color_scroll {
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(17%, #ff0), color-stop(33%, lime), color-stop(50%, cyan), color-stop(66%, blue), color-stop(83%, #f0f), to(red));
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
  width: 450px;
  height: 7%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}

.color_scroll_control_button {
  height: 120%;
  width: 2%;
  background-color: black;
  position: absolute;
  border-radius: 2px;
}

.color_scroll_control_button:hover {
  border: 1px solid #0e0d0d;
  background-color: #e74d4d;
  cursor: move;
}

.colors_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dbd4d4;
  width: 30%;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
  padding: 5px;
  border: 3px groove #645f5f;
}

.colors_block_element {
  width: 85%;
  min-height: 40px;
  background-color: #dbcccc;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 0;
  border-radius: 17px;
  border: 2px solid black;
}

.colors_block_element_active {
  background-color: #b59d9d;
  border: 2px solid #a33f3f;
}

.colors_example {
  height: 90%;
  min-width: 14%;
  background-color: azure;
  border-radius: 4px;
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */