* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color_title {
  width: 70%;
  height: 20%;
  background-color: antiquewhite;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.change_color {
  width: 10%;
  height: 5%;
  border: none;
}

.control_block {
  width: 50%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.procent_scroll_control_button {
  height: 120%;
  width: 2%;
  background-color: black;
  position: absolute;
  border: 2px solid #e74d4d;
  border-radius: 15%;
  color: aliceblue;
}

.procent_scroll_control_button_active {
  border: 2px solid #5f40e9;
  z-index: 10;
}

.procent_scroll {
  background: white;
  width: 550px;
  height: 32px;
  margin-top: 20px;
}

.procent_scroll_control {
  height: 100%;
  width: 100%;
  position: relative;
}

.procent_scroll_block_text {
  position: relative;
  height: 100%;
  width: 100%;
}

.procent_scroll_block_text .procent_scroll_text {
  width: 5%;
  position: absolute;
  top: 8px;
  left: -8.25px;
  text-align: center;
}

#procent_scroll_control_button_2 {
  left: 100px;
}

#procent_scroll_text_2 {
  left: 92px;
}

.transparency_scroll_control_button {
  height: 120%;
  width: 2%;
  background-color: black;
  position: absolute;
}

.transparency_scroll {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(-45deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
  width: 450px;
  height: 32px;
  margin-top: 20px;
  position: relative;
}

.transparency_scroll_rgb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.degree_panel {
  height: 50px;
  width: 150px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degree_panel_text {
  width: 50%;
  height: 90%;
}

.degree_circle {
  width: 33%;
  height: 100%;
  border: 3px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degree_control_circle {
  height: 100%;
  width: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.degree_control_circle_button {
  height: 8px;
  width: 100%;
  background-color: #000;
  border-radius: 50%;
  margin-top: 5px;
}

.color_panel {
  height: 40%;
  width: 450px;
  position: relative;
  background: red;
  margin-bottom: 5px;
}

.color_panel_white,
.color_panel_black {
  height: 100%;
  width: 100%;
  position: absolute;
}

.color_panel_white {
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.color_panel_black {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.color_panel_button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: none;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
}

.color_panel_button_active {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: none;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 1;
}

.color_scroll {
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(17%, #ff0), color-stop(33%, lime), color-stop(50%, cyan), color-stop(66%, blue), color-stop(83%, #f0f), to(red));
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
  width: 450px;
  height: 7%;
  margin-bottom: 20px;
  position: relative;
}

.color_scroll_control_button {
  height: 120%;
  width: 2%;
  background-color: black;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */