* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.container {
  background: linear-gradient(to bottom, transparent 0%, rgb(100, 95, 95) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container span {
  margin-bottom: 5px;
}

.color_title {
  width: 70%;
  height: 35%;
  background-color: antiquewhite;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  padding: 0 35px;
  box-shadow: 0px 2px 7px 4px rgba(34, 60, 80, 0.23);
}

.change_color {
  width: 10%;
  height: 5%;
  border: none;
}

.control_container {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: rgb(224, 224, 224);
  box-shadow: 0px 9px 18px 6px rgba(34, 60, 80, 0.28);
}

.control_block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(105, 103, 103);
  padding-right: 15px;
}
.control_block span {
  margin-bottom: 5px;
}

.procent_scroll_control_button {
  height: 120%;
  width: 2.5%;
  background-color: black;
  position: absolute;
  border-radius: 3px;
  text-align: center;
  cursor: move;
  font-size: small;
}
.procent_scroll_control_button:hover {
  border: 2px white solid;
}

.procent_scroll_control_button_active {
  border: 2px white solid;
  z-index: 10;
  cursor: move;
  color: black;
}

.procent_scroll {
  background: rgb(161, 145, 145);
  width: 550px;
  height: 32px;
  border-radius: 5px;
  box-shadow: 0px 9px 18px 6px rgba(34, 60, 80, 0.28);
}

.procent_scroll_control {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 9px 18px 6px rgba(34, 60, 80, 0.28);
}

.procent_scroll_block_text {
  position: relative;
  height: 100%;
  width: 100%;
}
.procent_scroll_block_text .procent_scroll_text {
  width: 5%;
  position: absolute;
  top: 8px;
  left: -8.25px;
  text-align: center;
}

#procent_scroll_control_button_2 {
  left: 100px;
}

#procent_scroll_text_2 {
  left: 92px;
}

input:disabled {
  background-color: white;
  border: none;
  width: 5%;
  color: black;
  border-radius: 3px;
  font-size: medium;
}

.transparency_scroll_control_button {
  height: 120%;
  width: 2.5%;
  background-color: black;
  position: absolute;
  border-radius: 3px;
}

.transparency_scroll_control_button:hover {
  border: 2px solid white;
  cursor: move;
}

.transparency_scroll {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), linear-gradient(-45deg, #ccc 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ccc 75%), linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
  background-color: white;
  width: 450px;
  height: 32px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 9px 18px 6px rgba(34, 60, 80, 0.28);
}

.transparency_scroll_rgb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.degree_panel {
  height: 60px;
  width: 150px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 9px 18px 6px rgba(34, 60, 80, 0.28);
}

.degree_panel_text {
  width: 50%;
  height: 90%;
}

.degree_circle {
  width: 30%;
  height: 83.3%;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.degree_control_circle {
  height: 100%;
  width: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.degree_control_circle_button {
  height: 8px;
  width: 100%;
  background-color: #000;
  border-radius: 50%;
  margin-top: 5px;
}

.color_panel {
  height: 40%;
  width: 450px;
  position: relative;
  background: rgb(255, 0, 0);
  margin-bottom: 20px;
  border-radius: 5px;
}

.color_panel_white,
.color_panel_black {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 9px 18px 6px rgba(34, 60, 80, 0.28);
}

.color_panel_white {
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.color_panel_black {
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
}

.color_panel_button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(255, 254, 254);
  border-bottom: 2px solid rgb(255, 254, 254);
  border-radius: 50%;
  z-index: 1;
  cursor: move;
}

.color_scroll {
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
  width: 450px;
  height: 7%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 9px 18px 6px rgba(34, 60, 80, 0.28);
}

.color_scroll_control_button {
  height: 120%;
  width: 2.5%;
  background-color: black;
  position: absolute;
  border-radius: 3px;
}

.color_scroll_control_button:hover {
  border: 2px solid white;
  cursor: move;
}

.colors_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
  padding: 5px;
}

.colors_block_element {
  width: 85%;
  min-height: 40px;
  background-color: rgb(133, 133, 133);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 0;
  border-radius: 17px;
  box-shadow: 0px 2px 7px 3px rgba(34, 60, 80, 0.2);
}
.colors_block_element button {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 3px;
  font-size: medium;
  background-color: #cdcdcd;
  color: rgb(37, 37, 37);
  box-shadow: 0px 2px 7px 3px rgba(34, 60, 80, 0.33);
}
.colors_block_element button:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.colors_block_element_active {
  background-color: white;
}
.colors_block_element_active button {
  box-shadow: 0px 2px 7px 3px rgba(34, 60, 80, 0.09);
}

.colors_example {
  height: 90%;
  min-width: 14%;
  background-color: azure;
  border-radius: 4px;
  border: 1px solid black;
}/*# sourceMappingURL=style.css.map */